<div class='typeahead-wrapper'>
    <!-- <pre>Model: {{selected | json}} </pre> -->
    <select class='categories left' name="" id="" ng-options='cat for cat in categories'  ng-model="selected1">
    <option value="" selected ng-click='selected =""'> All</option>
    </select>
    <input class='sub-categories left' type="text" ng-model="selected" uib-typeahead="item as item.name for item in items | filter:$viewValue | limitTo:5" typeahead-popup-template-url="template1.html" ng-change='getProducts();'>

   <div class='product-container clear'>
   	<div class="product clear" ng-if="selected && selected.length>1"  ng-repeat='product in products | filter:selected'>
     <div> Name - {{product.item}} </div>
     <div>Category - {{product.cat}}</div>
     </div>
   </div>
</div>

<script type="text/ng-template" id='template1.html'>
	<div class="custom-popup-wrapper"
     ng-style="{top: position().top+'px', left: position().left+'px'}"
     style="display: block;"
     ng-show="isOpen() && !moveInProgress"
     aria-hidden="{{!isOpen()}}">
    <div class = "item" ng-mouseover = "hover1=true" ng-mouseleave="hover1=false" ng-class='{"item-mouseover":hover1}'>{{$parent.$parent.selected}} in All categories</div>
    <ul class="dropdown-menu" role="listbox">
        <li  class = "item" ng-mouseover = "hover=true" ng-mouseleave="hover=false" ng-class='{"item-mouseover":hover}'ng-repeat='cat in $parent.$parent.categories' role="option" ng-click='$parent.$parent.catSelected(cat,matches);'>{{$parent.$parent.selected}} in {{cat}}</li>
    </ul>
    <div class='message'></div>
    <ul class="dropdown-menu" role="listbox">
        <li  class = "item" ng-mouseover = "hover=true" ng-mouseleave="hover=false" ng-class='{"item-mouseover":hover}'ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
            ng-mouseenter="selectActive($index)" ng-click="$parent.$parent.getItem(match)" role="option" id="{{::match.id}}">
            <div>{{match.model.item}}</div>
        </li>
    </ul>
  </div>
</script>
